
.bread-crumbs-container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 30px 0 30px 60px;
    text-align: left;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 16px;
}

.bag-item-container {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 60px;
}

.item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding-top: 30px;
    padding-bottom: 45px;
}

.item figure {
    width: 100%;
}

.img-container {
    width: 50%;
    float: left;
    max-height: 340px;
}

.img-container {
    background: #000;
    position: relative;
    z-index: 100;
    max-width: 240px;
}

.img-container img {
    display: table-cell;
    width: 100%;
    max-width: 240px;
}

.img-container:hover img {
    opacity: 0.5;
}

.img-container:hover .view-item {
    visibility: visible;
    cursor: pointer;
}

.view-item {
    position: absolute;
    color: #f14a58;
    top: calc(50% - 14px);
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    visibility: hidden;
}



figure:hover .view-item,
figure:hover figcaption{
    color: #f14a58;
}
figure:hover span,
figure:hover p {
    color: initial;
}

figure:hover figcaption p{
    color: #000;
}

.item figcaption {
    text-align: left;
    width: 50%;
    float: right;
    font-size: 16px;
}

figcaption p {
    font-weight: normal;
    font-size: 16px;
}
.item-price{
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0 30px;
}

.item-color,
.item-size {
    padding-bottom: 15px;
}

.quantity {
    padding-bottom: 30px;
}

.remove-item-btn {
    outline: none;
    border: none;
    color: #f14a58;
    background: transparent;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 16px;
}

.remove-item-btn:hover {
    cursor: pointer;
}

.stock {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: bold;
    background-color: #f7f7f7;
    padding: 10px 0;
}

.code {
    color: #f14a58;
}

.qntMinus,
.qntPlus {
    font-size: 18px;
    color: #f14a58;
    padding: 0 5px;
    font-weight: bold;
}

.qntMinus:hover,
.qntPlus:hover {
    cursor: pointer;
}

.d-none {
    display: none;
}

.bag-btns-container {
    max-width: 1180px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px 40px;
}

.bag-btns-container button {
    outline: none;
    background-color: transparent;
}

.bag-btns-container button:hover {
    color: #f14a58;
}

.buy-bag-btn {
    padding: 30px 100px;
    border: 1px solid #e5e5e5;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 24px;
}

.clear-bag-btn {
    padding: 30px 0;
    outline: none;
    border: none;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
}

.clear-bag-btn {
    cursor: pointer;
}

.total-rice-container {
    padding-top: 10px;
    line-height: 2;
}

.total-cost-text {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: normal;
}

.total-price {
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: bold;
}

.bag-message {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #f7f7f7;
    padding: 10px 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .bread-crumbs-container h2 {
        padding-left: 70px;
        font-size: 20px;
    }

    .tablet-container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .bag-item-container {
        padding-left: 0px;
        padding-right: 0px;
    }

    figcaption {
        padding-left: 20px;
        font-size: 14px;
    }

    figcaption p {
        font-size: 14px;
    }

    .item-price {
        font-size: 14px;
    }

    .remove-item-btn {
        font-size: 13px;
    }

    .stock p {
        font-size: 13px;
    }

    .bag-btns-container {
        padding-right: 40px;
        padding-left: 40px;
    }

    .buy-bag-btn {
        padding: 20px 70px;
        font-size: 20px;
    }
}
@media screen and (max-width: 767px) {

    .item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .bag-btns-container {
        padding: 20px 20px 35px;
    }

    .buy-bag-btn {
        font-size: 18px;
        padding: 20px 30px;
    }

    .item figcaption {
        float: left;
        padding-left: 10px;
    }
}
